<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<array>
		<string>Public</string>
		<string>Private</string>
		<string>Private (Non-Profit)</string>
	</array>
	<key>location</key>
	<array>
		<string>Close (within 150 miles)</string>
		<string>Midranged</string>
		<string>Far (more than 500 miles)</string>
	</array>
	<key>sat</key>
	<array>
		<string>Low Average</string>
		<string>Medium Average</string>
		<string>High Average</string>
	</array>
	<key>football</key>
	<array>
		<string>No team</string>
		<string>Has team</string>
	</array>
	<key>baseball</key>
	<array>
		<string>No team</string>
		<string>Has team</string>
	</array>
	<key>basketball</key>
	<array>
		<string>No team</string>
		<string>Has team</string>
	</array>
	<key>xc</key>
	<array>
		<string>No team</string>
		<string>Has team</string>
	</array>
	<key>daycare</key>
	<array>
		<string>No provided daycare</string>
		<string>Provides daycare</string>
	</array>
	<key>studyAbroad</key>
	<array>
		<string>No study abroad option</string>
		<string>Has study abroad options</string>
	</array>
	<key>size</key>
	<array>
		<string>&lt;1000</string>
		<string>1000-4000</string>
		<string>4000-10000</string>
		<string>10000-25000</string>
		<string>&gt;25000</string>
	</array>
	<key>selectivity</key>
	<array>
		<string>Very selective (&lt;15%)</string>
		<string>Somewhat selective (15-50%)</string>
		<string>Somewhat open (50-85%)</string>
		<string>Very open (&gt;85%)</string>
	</array>
	<key>studentFaculty</key>
	<array>
		<string>Low (&lt;10)</string>
		<string>Medium (10-30)</string>
		<string>High (&gt;30)</string>
	</array>
	<key>femaleRatio</key>
	<array>
		<string>All-Male (0%)</string>
		<string>Majority male (1-45%)</string>
		<string>Neutral (45-55%)</string>
		<string>Majority Female (56-99%)</string>
		<string>All-Female (100%)</string>
	</array>
	<key>highestDegree</key>
	<array>
		<string>No Degree</string>
		<string>Associate&apos;s degree</string>
		<string>Bachelor&apos;s degree</string>
		<string>Master&apos;s degree</string>
		<string>Doctor&apos;s degree</string>
	</array>
	<key>cost</key>
	<array>
		<string>Low ($0-$20,000)</string>
		<string>Medium ($20,000-$30,000)</string>
		<string>High (&gt;$30,000)</string>
	</array>
	<key>religion</key>
	<array>
		<string>No religious affiliation</string>
		<string>Some Catholic affiliation</string>
		<string>Some Protestant affiliation</string>
		<string>Specific affiliation (choose...)</string>
	</array>
	<key>citySize</key>
	<array>
		<string>Large City (&gt; 250,000 people)</string>
		<string>Midsize City (100,000 - 250,000 people)</string>
		<string>Small City (&lt; 100,000 people)</string>
		<string>Large Suburb (In the suburbs of a large city)</string>
		<string>Midsize Suburb (In the suburbs of a midsized city)</string>
		<string>Small Suburb (In the suburbs of a small city)</string>
		<string>Fringe Town (Urban cluster &lt; 10 miles from a city)</string>
		<string>Distant Town (Urban cluster 10 - 35 miles from a city)</string>
		<string>Remote Town (Urban cluster &gt; 35 miles from a city)</string>
		<string>Fringe Rural (Rural &lt; 5 miles from city or &lt; 2.5 miles from town)</string>
		<string>Distant Rural (Rural 5 - 25 miles from city or 2.5 - 10 miles from town)</string>
		<string>Remote Rural (Rural &gt; 25 miles from city and &gt; 10 miles from town)</string>
	</array>
	<key>demographics</key>
	<array>
		<string>Seriously have no idea what to do here.</string>
	</array>
</dict>
</plist>
