<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Public or Private</key>
	<array>
		<string>type</string>
		<string>Public</string>
		<string>Private</string>
		<string>Private (Non-Profit)</string>
	</array>
    <!--
	<key>Location</key>
	<array>
		<string>location</string>
		<string>Close</string>
		<string>Midranged</string>
		<string>Far</string>
	</array>
     -->
	<key>Average SAT Score</key>
	<array>
		<string>sat</string>
		<string>Low Average Score</string>
		<string>Medium Average Score</string>
		<string>High Average Score</string>
	</array>
	<key>Football Team</key>
	<array>
		<string>football</string>
		<string>No Team</string>
		<string>Has Team</string>
	</array>
	<key>Baseball Team</key>
	<array>
		<string>baseball</string>
		<string>No Team</string>
		<string>Has Team</string>
	</array>
	<key>Basketball Team</key>
	<array>
		<string>basketball</string>
		<string>No Team</string>
		<string>Has Team</string>
	</array>
	<key>Cross Country And Track Team</key>
	<array>
		<string>xCountryAndTrack</string>
		<string>No Team</string>
		<string>Has Team</string>
	</array>
	<key>Available Daycare</key>
	<array>
		<string>dayCare</string>
		<string>No Provided Daycare</string>
		<string>Provides Daycare</string>
	</array>
	<key>Study Abroad Opportunities</key>
	<array>
		<string>studyAbroad</string>
		<string>No Study Abroad Option</string>
		<string>Has Study Abroad Options</string>
	</array>
	<key>Number of Students</key>
	<array>
		<string>size</string>
		<string>Small</string>
		<string>Midsized</string>
		<string>Large</string>
	</array>
	<key>College Selectivity</key>
	<array>
		<string>selectivity</string>
		<string>Very Selective</string>
		<string>Somewhat Selective</string>
		<string>Very Open</string>
	</array>
	<key>Student Faculty Ratio</key>
	<array>
		<string>studentFacultyRatio</string>
		<string>Low</string>
		<string>Medium</string>
		<string>High</string>
	</array>
	<key>Gender Ratio</key>
	<array>
		<string>femaleRatio</string>
		<string>All-Male</string>
		<string>Majority Male</string>
		<string>Neutral</string>
		<string>Majority Female</string>
		<string>All-Female</string>
	</array>
	<key>Highest Available Degree</key>
	<array>
		<string>degree</string>
		<string>No Degree</string>
		<string>Associate&apos;s Degree</string>
		<string>Bachelor&apos;s Degree</string>
		<string>Master&apos;s Degree</string>
		<string>Doctor&apos;s Degree</string>
	</array>
	<key>Tuition</key>
	<array>
		<string>cost</string>
		<string>Low</string>
		<string>Medium</string>
		<string>High</string>
	</array>
	<key>Religious Affiliation</key>
	<array>
		<string>religiousAffiliation</string>
		<string>No Religious Affiliation</string>
		<string>Catholic Affiliation</string>
		<string>Protestant Affiliation</string>
		<string>Jewish Affiliation</string>
	</array>
	<key>Size of City</key>
	<array>
		<string>urbanization</string>
		<string>Large City (&gt; 250,000 people)</string>
		<string>Midsize City (100,000 - 250,000 people)</string>
		<string>Small City (&lt; 100,000 people)</string>
		<string>Large Suburb (In the suburbs of a large city)</string>
		<string>Midsize Suburb (In the suburbs of a midsized city)</string>
		<string>Small Suburb (In the suburbs of a small city)</string>
		<string>Fringe Town (Urban cluster &lt; 10 miles from a city)</string>
		<string>Distant Town (Urban cluster 10 - 35 miles from a city)</string>
		<string>Remote Town (Urban cluster &gt; 35 miles from a city)</string>
		<string>Fringe Rural (Rural &lt; 5 miles from city or &lt; 2.5 miles from town)</string>
		<string>Distant Rural (Rural 5 - 25 miles from city or 2.5 - 10 miles from town)</string>
		<string>Remote Rural (Rural &gt; 25 miles from city and &gt; 10 miles from town)</string>
	</array>
</dict>
</plist>
