<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>156</string>
		<string>74</string>
		<string>255</string>
	</array>
	<array>
		<string>149</string>
		<string>143</string>
		<string>255</string>
	</array>
	<array>
		<string>82</string>
		<string>84</string>
		<string>220</string>
	</array>
	<array>
		<string>155</string>
		<string>206</string>
		<string>99</string>
	</array>
	<array>
		<string>222</string>
		<string>216</string>
		<string>46</string>
	</array>
	<array>
		<string>255</string>
		<string>121</string>
		<string>66</string>
	</array>
	<array>
		<string>232</string>
		<string>101</string>
		<string>89</string>
	</array>
	<array>
		<string>153</string>
		<string>153</string>
		<string>153</string>
	</array>
	<array>
		<string>0</string>
		<string>143</string>
		<string>30</string>
	</array>
	<array>
		<string>40</string>
		<string>40</string>
		<string>40</string>
	</array>
</array>
</plist>
