<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>location</key>
	<array>
		<string>zip_code</string>
	</array>
	<key>type</key>
	<array>
		<string>ownership</string>
	</array>
	<key>urbanization</key>
	<array>
		<string>urbanization</string>
	</array>
	<key>religiousAffiliation</key>
	<array>
		<string>religion</string>
	</array>
	<key>studyAbroad</key>
	<array>
		<string>study_abroad</string>
	</array>
	<key>dayCare</key>
	<array>
		<string>day_care</string>
	</array>
	<key>football</key>
	<array>
		<string>football_memb</string>
	</array>
	<key>basketball</key>
	<array>
		<string>basketball_memb</string>
	</array>
	<key>baseball</key>
	<array>
		<string>baseball_memb</string>
	</array>
	<key>xCountryAndTrack</key>
	<array>
		<string>xc_memb</string>
	</array>
	<key>degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>size</key>
	<array>
		<string>size</string>
	</array>
	<key>cost</key>
	<array>
		<string>cost_alone_in</string>
		<string>cost_alone_out</string>
		<string>cost_fam_in</string>
		<string>cost_fam_out</string>
		<string>cost_on_in</string>
		<string>cost_on_out</string>
	</array>
	<key>selectivity</key>
	<array>
		<string>selectivity</string>
	</array>
	<key>sat</key>
	<array>
		<string>sat_math_25</string>
		<string>sat_math_75</string>
		<string>sat_read_25</string>
		<string>sat_read_75</string>
	</array>
	<key>studentFacultyRatio</key>
	<array>
		<string>stud_to_fac</string>
	</array>
	<key>femaleRatio</key>
	<array>
		<string>women_perc</string>
	</array>
</dict>
</plist>
